.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-top: 10px;

  button {
    border: 2px solid black;
    color: black;
    background: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    min-width: 157px;
    &:hover {
      border: 2px solid black;
      color: black;
      background: white;
    }
    &:active {
      border: 2px solid black;
      color: black;
      background: white;
    }
  }
  input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
}
.Edit-Image-container {
  img {
    width: 150px;
    height: 150px;
    margin: 0 0 0;
  }
}
.drag-text-two {
  img {
    width: 80px;
    height: 80px;
    margin: 20px;
  }
}
.preview-image-upload {
  max-height: 300px;
  overflow: auto;
  img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
}
.Dropzone {
  height: 110px;
  width: 100%;
  background-color: #fff;
  border: 4px dashed #273891;
  // border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  .file-upload-input {
    position: absolute;
    margin: 0 !important;
    padding: 0;
    width: 90%;
    height: 110px;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
}

.Highlight {
  background-color: rgb(188, 185, 236);
}

.Icon {
  opacity: 0.3;
  height: 64px;
  width: 64px;
}

.FileInput {
  display: none;
}

.image-upload-wrap {
  border: 4px dashed #273891;
  position: relative;
}
.drag-text {
  text-align: center;
  h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #273891;
    padding: 60px 0;
  }
  img {
    width: 80px;
    height: 80px;
    margin: 40px;
  }
}
.file-upload-input-single {
  position: absolute;
  // margin: 0 -80px;
  padding: 0;
  width: 100%;
  height: 200px;
  outline: none;
  opacity: 0;
  cursor: pointer;
}
.file-upload-input {
  position: absolute;
  margin: 0 -80px;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}
.height-left,
.height-right {
  height: 200px;
}

.image-Container {
  position: absolute;
  display: flex;
  bottom: 14%;
  img {
    width: 70px;
    margin: 5px 10px;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    height: 60px;
  }
  .remove {
    cursor: pointer;
  }
}
// @media only screen and (max-width: 767px) {
// }
