.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-top: 10px;

  button {
    border: 2px solid black;
    color: black;
    background: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    min-width: 157px;
    &:hover {
      border: 2px solid black;
      color: black;
      background: white;
    }
    &:active {
      border: 2px solid black;
      color: black;
      background: white;
    }
  }
  input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
}
.Edit-Image-container {
  img {
    width: 200px;
    height: 160px;
  }
}
.Dropzone {
  height: 110px;
  width: 100%;
  background-color: #fff;
  border: 2px dashed rgb(187, 186, 186);
  // border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}

.Highlight {
  background-color: rgb(188, 185, 236);
}

.Icon {
  opacity: 0.3;
  height: 64px;
  width: 64px;
}

.FileInput {
  display: none;
}

.image-upload-wrap {
  border: 4px dashed #273891;
  position: relative;
}
.drag-text {
  text-align: center;
  h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #273891;
    padding: 60px 0;
  }
}
.file-upload-input {
  position: absolute;
  margin: 0 -100px;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}
.height-left,
.height-right
{
  height: 200px;
}