.margin-zero-auto {
  margin: 0 auto;
}
.file-input-disable-none {
  display: none;
}
.upload-button {
  margin-left: 100px !important;
  background: #344497 !important;
  z-index: 4;
  color: #ffffff !important;
}
