.image-style-dilog {
  width: 120px;
  height: 120px;
}
@media only screen and (max-width: 767px) {
  .text-align-set {
    text-align: unset !important;
  }
  .text-align-set-two {
    text-align: center !important;
    margin-top: 10px;
  }
}
