/* App Module Style */

.app-wrapper-module {
  @include display-flex(flex, column, nowrap);
  @include align-items(stretch);
  height: 100%;
}

.app-module {
  position: relative;
  @include display-flex(flex, row, nowrap);
  margin: -20px;

  @media screen and (min-width: 576px) {
    margin: -30px;
  }
}

.module-side {
  position: relative;
  z-index: 2;
  @include display-flex(flex, column, nowrap);
  @include flex(0, 1, 230px);
  max-width: 230px;
  min-width: 230px;
}

.module-side-header {
  border-bottom: solid 1px $gray-200;
  @include display-flex(flex, column, nowrap);

  & .user-detail {
    padding: 15px 10px;
    text-align: center;
  }
}

.module-logo {
  padding: 10px;
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  min-height: 78px;
  font-size: 20px;
  background-color: lighten($gray-100, 0.5%);
  color: darken($gray-800, 2%);
  & .zmdi {
    font-size: 28px;
  }
}

.module-user-info {
  @include display-flex(flex, column, nowrap);
}

.module-user-detail {
  font-size: 12px;
}

.module-side-content {
  @extend .module-user-info;
}

.module-add-task {
  @include display-flex();
  padding: 24px;
}

.module-nav {
  list-style: none;
  padding-left: 0;
  @include display-flex(flex, column, nowrap);
  @include justify-content(center);

  & li {
    @include display-flex(flex, column, nowrap);
  }

  & li .jr-link {
    padding: 12px 29px;
    color: lighten($light-gray, 15%);
    @include display-flex();
    @include align-items(center);
    text-decoration: none;

    &:hover,
    &:focus {
      color: $body-color;
      outline: none;
    }

    &.active {
      color: $app-primary;
    }
  }

  & li i {
    margin-right: 16px;
    font-size: 16px;
  }

  & li span {
    display: inline-block;
    vertical-align: middle;
  }

  & li.module-nav-label {
    padding: 12px 29px;
  }
}

.module-box {
  position: relative;
  z-index: 2;
  @include display-flex(flex, column, nowrap);
  @include flex(1, 1, auto);
  max-width: calc(100% - 231px);
}

.module-box-header {
  padding: 10px 26px;
  min-height: 79px;
  @include display-flex(flex, column, nowrap);
  @include justify-content(center);
  background-color: $white;
  border-bottom: solid 1px $gray-200;

  & .search-bar.right-side-icon {
    min-width: 350px;

    & .form-control {
      @include border-radius(0);
      height: 46px;
      padding: 10px 18px 10px 40px;

      &:focus {
        background-color: $gray-100;
      }
    }

    & .search-icon {
      width: 25px;
      height: 46px;
      font-size: 16px;
      left: 10px;
      top: 0;
      padding: 0;
    }
  }
}

.module-box-header-inner {
  @include display-flex();
  @include align-items(center);
  @include justify-content(space-between);
}

.module-box-content {
  background-color: $white;
  @include display-flex(flex, column, nowrap);
}

.module-box-topbar {
  padding: 8px 12px;
  @include display-flex();
  border-bottom: solid 1px $gray-200;

  & button + button {
    @include border-radius(0);
  }
}

.module-box-topbar-todo {
  padding-left: 64px;

  @media screen and (max-width: 575px) {
    padding-left: 27px;
  }
}

.module-list-icon {
  @include display-flex();
  @include align-items(center);
  padding-right: 10px;
}

.bar-icon {
  margin-right: 15px;
}

.toolbar-separator {
  display: inline-block;
  background-color: $gray-600;
  height: 14px;
  width: 2px;
  margin: 0 12px;
}

.toolbar-left {
  margin-left: auto;
}

.module-list {
  @include display-flex(flex, column, nowrap);
  @include justify-content(center);
}

.module-list-item {
  @include display-flex();
  @include align-items(center);
  padding: 15px 28px;
  border-bottom: solid 1px $gray-200;
  z-index: 5;
  position: relative;
  cursor: pointer;

  & > .check-label {
    margin-left: 0;
    margin-bottom: 0;
  }

  &.mail-cell {
    padding-left: 12px;
    @include align-items(start);
  }
}

.module-detail-header {
  margin-bottom: 10px;

  & > .check-label {
    margin-right: auto;
  }
}

.module-list-info {
  padding-left: 10px;
  @include flex(1, 1, 0);
  @include display-flex(flex, column, nowrap);
  max-width: calc(100% - 170px);
}

.module-todo-content {
  position: relative;

  & .subject {
    margin-bottom: 5px;
  }
}

.module-list-actions {
  text-align: right;
}

.app-module-sidenav {
  background-color: $white;
  border-right: solid 1px $gray-200;
  position: relative;
  z-index: 9;

  & .chat-sidenav-main {
    max-width: 300px;
    min-width: 300px;
    width: 90%;
  }
}

.module-date {
  max-width: 160px;

  & > div:before {
    display: none;
  }
}

.module-detail-item {
  padding: 10px 28px;
}

.task-title {
  font-size: 18px;
}

.chat-todo-avatar {
  margin-right: 15px;
}

.modal-title {
  @include display-flex();
  @include justify-content(space-between);
  @include align-items(center);
  width: 100%;
  font-size: 18px;
}

.loader-view-block {
  @include display-flex(flex, column, nowrap);
  @include justify-content(center);
  @include align-items(center);

  & .slimScrollBar {
    display: none !important;
  }

  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99999;
  top: 0;
  right: 0;
  background-color: #ffffff57;
}

.loader-view {
  @extend .loader-view-block;
}

.model-loader-view {
  @extend .loader-view-block;

  width: 100%;
  height: 100%;
  background-color: #ffffff70;
  position: absolute;
  z-index: 9;
  cursor: progress;
}

.module-date > div {
  @include align-items(center);
}

@media screen and (max-width: 1199px) {
  .module-side {
    @include display-flex(block, row, nowrap);
    @include flex(1);
    max-width: $side-nav-width;
    min-width: $side-nav-width;
  }

  .module-box-header {
    position: relative;
    min-height: 58px;
    padding: 5px 26px 5px 75px;

    & .drawer-btn {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      border-right: solid 1px $gray-200;
      height: 58px;
      width: 56px;
      @include border-radius(0);
      font-size: 22px;
    }

    & .search-bar.right-side-icon .form-control {
      height: 38px;
      padding: 5px 18px 5px 40px;
    }

    & .search-bar.right-side-icon .search-icon {
      height: 38px;
    }
  }

  .chat-loader-view {
    height: calc(100vh - 120px);
  }

  .module-box {
    max-width: 100%;
  }
}

@media screen and (min-width: 991px) {
  .modal-dialog {
    max-width: 750px;
  }
}

@media screen and (max-width: 991px) {
  .app-module {
    padding-top: 0;
  }
}

@media screen and (max-width: 599px) {
  .module-box-header .search-bar {
    margin-left: 0;
    max-width: none;

    &.right-side-icon {
      min-width: 250px;
    }
  }
}

@media screen and (max-width: 575px) {
  .module-list-item {
    padding: 10px 12px;
  }

  .module-list-info {
    max-width: 100%;
  }

  .module-box-header {
    & .nav-searchbox.quick-menu .dropdown-menu {
      right: auto !important;
      left: 0 !important;
    }

    & .search-bar.right-side-icon {
      min-width: 200px;

      & .form-control {
        @include border-radius(0.25rem);
      }
    }

    & .nav-searchbox.quick-menu .dropdown-menu {
      &:after {
        right: auto;
        left: 9px;
      }

      &:before {
        right: auto;
        left: 9px;
      }
    }

    & .search-bar {
      padding-right: 2px;
    }
  }
}

@media screen and (max-width: 399px) {
  .module-box-header {
    & .search-bar.right-side-icon {
      min-width: 100px;
    }
  }
}

@media screen and (min-width: 399px) {
  .d-xs-flex {
    display: flex !important;
  }
}

/* Filepicker CSS */
.filepicker {
  font-family: sans-serif;
}

div.filepicker {
  text-align: center;
  padding: 5px;
  background-color: #E1E1E1;
  border-radius: 5px;
  min-height: 60px;
  border: 2px dashed #C7C7C7;
}

/* Icon */
.filepicker-file-icon
{
  position: relative;

  display: inline-block;

  margin: 1.5em 0 2.5em 0;
  padding-left: 45px;

  color: black;
}
.filepicker-file-icon::before
{
  position: absolute;
  top: -7px;
  left: 0;

  width: 29px;
  height: 34px;

  content: '';

  border: solid 2px #7F7F7F;
  border-radius: 2px;
}
.filepicker-file-icon::after
{
  font-size: 11px;
  line-height: 1.3;

  position: absolute;
  top: 9px;
  left: -4px;

  padding: 0 2px;

  content: 'file';
  content: attr(data-filetype);
  text-align: right;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #fff;
  background-color: #000;
}
.filepicker-file-icon .fileCorner
{
  position: absolute;
  top: -7px;
  left: 22px;

  width: 0;
  height: 0;

  border-width: 11px 0 0 11px;
  border-style: solid;
  border-color: white transparent transparent #920035;
}

@-webkit-keyframes passing-through{0%{opacity:0;-webkit-transform:translateY(40px);-moz-transform:translateY(40px);-ms-transform:translateY(40px);-o-transform:translateY(40px);transform:translateY(40px)}30%, 70%{opacity:1;-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px);transform:translateY(0px)}100%{opacity:0;-webkit-transform:translateY(-40px);-moz-transform:translateY(-40px);-ms-transform:translateY(-40px);-o-transform:translateY(-40px);transform:translateY(-40px)}}@-moz-keyframes passing-through{0%{opacity:0;-webkit-transform:translateY(40px);-moz-transform:translateY(40px);-ms-transform:translateY(40px);-o-transform:translateY(40px);transform:translateY(40px)}30%, 70%{opacity:1;-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px);transform:translateY(0px)}100%{opacity:0;-webkit-transform:translateY(-40px);-moz-transform:translateY(-40px);-ms-transform:translateY(-40px);-o-transform:translateY(-40px);transform:translateY(-40px)}}@keyframes passing-through{0%{opacity:0;-webkit-transform:translateY(40px);-moz-transform:translateY(40px);-ms-transform:translateY(40px);-o-transform:translateY(40px);transform:translateY(40px)}30%, 70%{opacity:1;-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px);transform:translateY(0px)}100%{opacity:0;-webkit-transform:translateY(-40px);-moz-transform:translateY(-40px);-ms-transform:translateY(-40px);-o-transform:translateY(-40px);transform:translateY(-40px)}}@-webkit-keyframes slide-in{0%{opacity:0;-webkit-transform:translateY(40px);-moz-transform:translateY(40px);-ms-transform:translateY(40px);-o-transform:translateY(40px);transform:translateY(40px)}30%{opacity:1;-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px);transform:translateY(0px)}}@-moz-keyframes slide-in{0%{opacity:0;-webkit-transform:translateY(40px);-moz-transform:translateY(40px);-ms-transform:translateY(40px);-o-transform:translateY(40px);transform:translateY(40px)}30%{opacity:1;-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px);transform:translateY(0px)}}@keyframes slide-in{0%{opacity:0;-webkit-transform:translateY(40px);-moz-transform:translateY(40px);-ms-transform:translateY(40px);-o-transform:translateY(40px);transform:translateY(40px)}30%{opacity:1;-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px);transform:translateY(0px)}}@-webkit-keyframes pulse{0%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}10%{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}20%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}}@-moz-keyframes pulse{0%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}10%{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}20%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}}@keyframes pulse{0%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}10%{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}20%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}}.dropzone,.dropzone *{box-sizing:border-box}.dropzone{min-height:150px;border:2px solid rgba(0,0,0,0.3);background:white;padding:20px 20px}.dropzone.dz-clickable{cursor:pointer}.dropzone.dz-clickable *{cursor:default}.dropzone.dz-clickable .dz-message,.dropzone.dz-clickable .dz-message *{cursor:pointer}.dropzone.dz-started .dz-message{display:none}.dropzone.dz-drag-hover{border-style:solid}.dropzone.dz-drag-hover .dz-message{opacity:0.5}.dropzone .dz-message{text-align:center;margin:2em 0}.dropzone .dz-message .dz-button{background:none;color:inherit;border:none;padding:0;font:inherit;cursor:pointer;outline:inherit}.dropzone .dz-preview{position:relative;display:inline-block;vertical-align:top;margin:16px;min-height:100px}.dropzone .dz-preview:hover{z-index:1000}.dropzone .dz-preview:hover .dz-details{opacity:1}.dropzone .dz-preview.dz-file-preview .dz-image{border-radius:20px;background:#999;background:linear-gradient(to bottom, #eee, #ddd)}.dropzone .dz-preview.dz-file-preview .dz-details{opacity:1}.dropzone .dz-preview.dz-image-preview{background:white}.dropzone .dz-preview.dz-image-preview .dz-details{-webkit-transition:opacity 0.2s linear;-moz-transition:opacity 0.2s linear;-ms-transition:opacity 0.2s linear;-o-transition:opacity 0.2s linear;transition:opacity 0.2s linear}.dropzone .dz-preview .dz-remove{font-size:14px;text-align:center;display:block;cursor:pointer;border:none}.dropzone .dz-preview .dz-remove:hover{text-decoration:underline}.dropzone .dz-preview:hover .dz-details{opacity:1}.dropzone .dz-preview .dz-details{z-index:20;position:absolute;top:0;left:0;opacity:0;font-size:13px;min-width:100%;max-width:100%;padding:2em 1em;text-align:center;color:rgba(0,0,0,0.9);line-height:150%}.dropzone .dz-preview .dz-details .dz-size{margin-bottom:1em;font-size:16px}.dropzone .dz-preview .dz-details .dz-filename{white-space:nowrap}.dropzone .dz-preview .dz-details .dz-filename:hover span{border:1px solid rgba(200,200,200,0.8);background-color:rgba(255,255,255,0.8)}.dropzone .dz-preview .dz-details .dz-filename:not(:hover){overflow:hidden;text-overflow:ellipsis}.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span{border:1px solid transparent}.dropzone .dz-preview .dz-details .dz-filename span,.dropzone .dz-preview .dz-details .dz-size span{background-color:rgba(255,255,255,0.4);padding:0 0.4em;border-radius:3px}.dropzone .dz-preview:hover .dz-image img{-webkit-transform:scale(1.05, 1.05);-moz-transform:scale(1.05, 1.05);-ms-transform:scale(1.05, 1.05);-o-transform:scale(1.05, 1.05);transform:scale(1.05, 1.05);-webkit-filter:blur(8px);filter:blur(8px)}.dropzone .dz-preview .dz-image{border-radius:20px;overflow:hidden;width:120px;height:120px;position:relative;display:block;z-index:10}.dropzone .dz-preview .dz-image img{display:block}.dropzone .dz-preview.dz-success .dz-success-mark{-webkit-animation:passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);-moz-animation:passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);-ms-animation:passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);-o-animation:passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);animation:passing-through 3s cubic-bezier(0.77, 0, 0.175, 1)}.dropzone .dz-preview.dz-error .dz-error-mark{opacity:1;-webkit-animation:slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);-moz-animation:slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);-ms-animation:slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);-o-animation:slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);animation:slide-in 3s cubic-bezier(0.77, 0, 0.175, 1)}.dropzone .dz-preview .dz-success-mark,.dropzone .dz-preview .dz-error-mark{pointer-events:none;opacity:0;z-index:500;position:absolute;display:block;top:50%;left:50%;margin-left:-27px;margin-top:-27px}.dropzone .dz-preview .dz-success-mark svg,.dropzone .dz-preview .dz-error-mark svg{display:block;width:54px;height:54px}.dropzone .dz-preview.dz-processing .dz-progress{opacity:1;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear}.dropzone .dz-preview.dz-complete .dz-progress{opacity:0;-webkit-transition:opacity 0.4s ease-in;-moz-transition:opacity 0.4s ease-in;-ms-transition:opacity 0.4s ease-in;-o-transition:opacity 0.4s ease-in;transition:opacity 0.4s ease-in}.dropzone .dz-preview:not(.dz-processing) .dz-progress{-webkit-animation:pulse 6s ease infinite;-moz-animation:pulse 6s ease infinite;-ms-animation:pulse 6s ease infinite;-o-animation:pulse 6s ease infinite;animation:pulse 6s ease infinite}.dropzone .dz-preview .dz-progress{opacity:1;z-index:1000;pointer-events:none;position:absolute;height:16px;left:50%;top:50%;margin-top:-8px;width:80px;margin-left:-40px;background:rgba(255,255,255,0.9);-webkit-transform:scale(1);border-radius:8px;overflow:hidden}.dropzone .dz-preview .dz-progress .dz-upload{background:#333;background:linear-gradient(to bottom, #666, #444);position:absolute;top:0;left:0;bottom:0;width:0;-webkit-transition:width 300ms ease-in-out;-moz-transition:width 300ms ease-in-out;-ms-transition:width 300ms ease-in-out;-o-transition:width 300ms ease-in-out;transition:width 300ms ease-in-out}.dropzone .dz-preview.dz-error .dz-error-message{display:block}.dropzone .dz-preview.dz-error:hover .dz-error-message{opacity:1;pointer-events:auto}.dropzone .dz-preview .dz-error-message{pointer-events:none;z-index:1000;position:absolute;display:block;display:none;opacity:0;-webkit-transition:opacity 0.3s ease;-moz-transition:opacity 0.3s ease;-ms-transition:opacity 0.3s ease;-o-transition:opacity 0.3s ease;transition:opacity 0.3s ease;border-radius:8px;font-size:13px;top:130px;left:-10px;width:140px;background:#be2626;background:linear-gradient(to bottom, #be2626, #a92222);padding:0.5em 1.2em;color:white}.dropzone .dz-preview .dz-error-message:after{content:'';position:absolute;top:-6px;left:64px;width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #be2626}
